.banner {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url(../../images/greenfield.jpg);
	color: white; 
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.7;
	margin-bottom: 60px;
}

#navbar {
	background: white;
	padding: 25px 10px;
	position: ;
	width: 100%;
	
	
}

#navbar a {
	float: left;
	padding: 7px;
	font-size: 18px;
	line-height: 0px;
	border-radius: 4px;
}
